*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 206, 206);
}
.title{
    font-size: 30px;
}
.card{
    height: 70%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248, 242, 248);
    box-shadow: 0 5px 10px -7px  black;
    border-radius: 25px;
}
.content{
    width: 100%;
}
.content input{
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 30px;
    padding: 5px 10px;
    text-align: center;
}
.content input[type=text]
{
    border-radius: 3px;
    /* outline: none; */
    border: 1px solid gray;
}
.content .btn input
{
    border: none;
    background-color: #2779D7;
    cursor: pointer;
}

.content .btn input:hover{
    color: white;
    background-color: #103e72;

}


@media screen and (max-width:768px) {

    .card{
    width: 80%;
    
    }
    .content input{
    
    width: 80%;
    }
}
.btn input[type=button]{
    color: white;
    border-radius: 5px;
}